* {
    margin: 0;
    padding: 0;
}

body {
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    display: flex;
    background: #eeeeee;
}

h1 {
    color:#eeeeee;
    margin-top: 40px;
    font-size: 55px;
}

a {
    color:#eeeeee;
    text-decoration: none;
    position: relative;
    top: 15%;
    border:#eeeeee solid 1px;
    padding: 20px 80px;
    border-radius: 50px;
}

p {
    color: #eeeeee;
}

img {
    margin-top: 40px;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.322) 0 6px 12px;
}

.card {
    text-align: center;
    margin-top: 190px;
    position: relative;
    background: linear-gradient(45deg, rgb(30, 29, 32), rgb(28, 28, 29));
    width: 450px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.644) 0 15px 25px;
}